<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      Carousel Template &middot; Bootstrap
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
  
    <link href="css/screen-f0590ff42f.css" rel="stylesheet">
</head>
  
  <body>
    <div class="navbar-wrapper">
      <div class="container">
            <div class="navbar navbar-fixed-top pull-left navbar-fluid">
              <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">TradeMachine</a>
                <div class="nav-collapse collapse">
                  <ul class="nav">
                    <li class="active">
                      <a href="#">Home</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="#">Action</a>
                        </li>
                        <li>
                          <a href="#">Another action</a>
                        </li>
                        <li>
                          <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li class="nav-header">
                          Nav header
                        </li>
                        <li>
                          <a href="#">Separated link</a>
                        </li>
                        <li>
                          <a href="#">One more separated link</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
      </div>
    </div>
    
    <img src="images/banner.jpg" style="margin-top:40px;">
    
    
    <div class="container marketing" style="margin-top:50px;">
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            TM-BEANS
          </h2>
          <p>
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam
            id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta
            ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
            scelerisque nisl consectetur et.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            TM-GOLD
          </h2>
          <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
            lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>
            TM-CORN
          </h2>
          <p>
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
            eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.
          </p>
          <p>
            <a class="btn" href="#">View details »</a>
          </p>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="https://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-chrome.png">
        <h2 class="featurette-heading">
          First featurette headling.
          <span class="muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-left" src="https://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-right" src="https://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-safari.png">
        <h2 class="featurette-heading">
          And lastly, this one.
          <span class="muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
          porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <hr class="featurette-divider">
      <footer>
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          © 2013 Company, Inc. ·
          <a href="#">Privacy</a>
          ·
          <a href="#">Terms</a>
        </p>
      </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    >
    </script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
    >
    </script>
    <script >
      !function ($) { $(function(){ // carousel demo $('#myCarousel').carousel()
      }) }(window.jQuery)
    </script>
    <!--<script src="/assets/js/holder/holder.js"></script>-->
  </body>

</html>