.table td {
   text-align: center;   
}
.table th {
	text-align:center;
}

.price {
font-size:14px;
font-weight:bold;
background:#1f1f1f;
color:#fff;
border-bottom:1px solid #6e6e6e;
}

.bids {
	background:red;
	color:black;
}

.asks {
	color:black;
	background:#99FF66;
}

.vol {
	background:#eee;
	border-bottom:1px solid #6e6e6e;
}

.nodata {
	background:#bbb;
}

